#search-bar {
  display : block;
  margin : 20px auto;
  padding: 2px 20px;
  font-size: 1.5rem;
  width : 35vw  ;
  min-width: 300px;
  border-radius: 6px;
}

#main-page-content {
  display : flex;
  flex-direction : row;
  height : 100vh;
  padding : 30px;
  justify-content: center;
}

#main-page-content aside {
  width : 350px;
  margin : 10px 20px;
}

#profile-pic {
  display : inline-block;
  width : 350px;
  height : 350px;
  border : black 1px solid;
  border-radius : 175px;
  text-align : center;
  vertical-align : middle;
}

#pic-span {
  line-height: 350px;
}

main {
  width : 860px;
}

.repo-tile {
  padding : 5px;
  margin : 5px;
  display : flex;
  flex-direction : row;
  justify-content: space-evenly;
  border-radius: 3px;
  border: 1px solid rgba(47, 79, 79, 0.51);
  box-shadow: 1px 1px rgba(47, 79, 79, 0.51);
  transition: box-shadow 0.5s;
  transition-timing-function: ease;
}

.repo-tile:hover {
  box-shadow: 3px 3px rgba(16, 114, 206, 0.43);
}

.repo-tile .left-tile-pane {
  width : 50%
}

.repo-tile .right-tile-pane {
  width : 50%;
}
