.page-container {
  display : flex;
  flex-direction : row;
  height : 100vh;
  padding : 30px;
  justify-content: center;
}

.page-container aside {
  width : 350px;
}

#profile-pic {
  display : inline-block;
  width : 350px;
  height : 350px;
  border : black 1px solid;
  border-radius: 175px;
  text-align: center;
}

main {
  width : 860px;
}

.repo-tile {
  padding : 5px;
  margin : 5px;
  display : flex;
  flex-direction : row;
  justify-content: space-evenly;
  border-radius: 3px;
  border: 1px solid rgba(47, 79, 79, 0.51);
  box-shadow: 1px 1px rgba(47, 79, 79, 0.51);
  transition: box-shadow 0.5s;
  transition-timing-function: ease;
}

.repo-tile:hover {
  box-shadow: 3px 3px rgba(16, 114, 206, 0.43);
}

.repo-tile .left-tile-pane {
  width : 50%
}

.repo-tile .right-tile-pane {
  width : 50%;
}
